/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}
h2 {
    font-size: 20px;
    font-weight: 700;
}

ul,li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    color: var(--neutral-light-gray);
}

/* CSS var */
:root {

    --primary-cyen-0: hsl(179, 62%, 43%);
    --primary-cyen-1: hsl(179.49, 47.37%, 51.57%);
    --primary-bright-yellow: hsl(71, 73%, 54%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-gray: hsl(204, 43%, 93%);
    --neutral-gray: hsl(205, 10%, 76%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(208, 45.45%, 93.53%);
    font-family: 'Karla', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 720px;
    box-shadow: 5px 5px 50px 5px var(--neutral-gray);
}

main .top {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px 5px 0 0;
    background-color: var(--neutral-white);
}

main .top h1 {
    margin-top: 35px;
    margin-bottom: 25px;
    color: var(--primary-cyen-0);
}
main .top h2 {
    margin-bottom: 15px;
    color: var(--primary-bright-yellow);
}
main .top p {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--neutral-grayish-blue);
}

main .buttom {
    display: flex;
}
main .buttom .left {
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
    border-radius: 0 0 0 5px;
    background-color: var(--primary-cyen-0);
}
main .buttom .left h1 {
    margin-top: 35px;
    margin-bottom: 20px;
    color: var(--neutral-light-gray);
}
main .buttom .left h2 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--neutral-light-gray);
}
main .buttom .left h2 span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--neutral-gray);
}
main .buttom .left p {
    margin-bottom: 30px;
    font-size: 16px;
    color: var(--neutral-light-gray);
}
main .buttom .left button {
    margin-bottom: 30px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: var(--neutral-light-gray);
    background-color: var(--primary-bright-yellow);
    transition: 0.5s;
}
main .buttom .left button:hover {
    background-color: var(--neutral-light-gray);
    color: var(--primary-bright-yellow);
}
main .buttom .right {
    padding-left: 40px;
    width: 50%;
    border-radius: 0 0 5px 0;
    background-color: var(--primary-cyen-1);
}
main .buttom .right h1 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--neutral-light-gray);
}
main .buttom .right ul {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    main {
        width: 500px;
    }

    main .top {
        padding-left: 20px;
        padding-right: 20px;
    }
    main .top h1 {
        margin-top: 20px;
        margin-bottom: 12.5px;
    }
    main .top h3 {
    margin-bottom: 7.5px;
    }
    main .top p {
        margin-bottom: 15px;
    }



    main .buttom .left {
        padding-left: 20px;
        padding-right: 20px;
    }
    main .buttom .left h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    main .buttom .left h1 {
        margin-bottom: 15px;
    }
    main .buttom .left button {
        margin-bottom: 20px;
    }



    main .buttom .right {
        padding-left: 20px;
        padding-right: 20px;
    }
    main .buttom .right h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 548px) {

    body {
        padding: 20px 0 20px 0;
    }
    main {
        width: 90%;
    }



    main .top {
        padding-left: 20px;
        padding-right: 20px;
    }
    main .top h1 {
        margin-top: 20px;
        margin-bottom: 12.5px;
    }
    main .top h3 {
        margin-bottom: 7.5px;
    }
    main .top p {
        margin-bottom: 15px;
    }


    main .buttom {
        width: 100%;
        flex-direction: column;
    }


    main .buttom .left {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border-radius: 0 0 0 0;
    }
    main .buttom .left h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    main .buttom .left h1 {
        margin-bottom: 15px;
    }
    main .buttom .left button {
        margin-bottom: 15px;
    }



    main .buttom .right {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    main .buttom .right h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    main .buttom .right p { 
        margin-bottom: 15px;
    }
}